@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	padding:0;
	overflow-x: hidden;
}

div.disabled {
	overflow-x: scroll;
	overflow-y: scroll;
}

#container {
	width:100%;
	height:auto;
	margin:0 auto;
}

header {
	width:100%;
	height:110px;
	background-color: rgb(255, 255, 255);
	color:black;
	float:left;
}
#inner_header{
	width:1200px;
	height:110px;
	background-color: rgb(255, 255, 255);
	margin: 0px auto;
}
#logo{
	width: 200px;
	height: 90px;
	float:left;
	background-color: transparent;
	margin-top:10px;
	margin-left:50px;
}
#logo img {
	width: 200px;
	height: 90px;
	position:absolute;
	margin-top:0;
	margin-left:0;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}	
#logo img.top:hover {
	opacity:0;
}
#top_area{
	width: 150px;
	height: 30px;
	float: right;
	background-color: white;
	margin-top: 45px;
	margin-right: 50px;
	}
/* Language */
.dropbtn { 
            background-color: rgb(37, 61, 66); 
            color: white; 
            padding: 10px 35px; 
            font-size: 14px; 
            border: none; 
            cursor: pointer; 
			margin:auto;
        } 
.dropbtn a {
  color: rgba(255,255,255,1.00);
  text-decoration: none;
  display: block;
	font-family:"Comfortaa", sans-serif;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 149px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
	font-size: 14px;
}
.dropdown-content a {
  color: rgb(37, 61, 66);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	font-family:"Comfortaa", sans-serif;
}
.dropdown-content a:hover {background-color: rgb(204, 219, 219)}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(102, 197, 177);
}

/* Language */
nav{
	width: 720px;
	height: 15px;
	float:right;
	clear:both;
	background-color: white;
	margin:-25px 175px;
	font-size:17px;
	text-align: center;
}
nav ul {
	list-style-type:none;
	margin:auto;
	height:auto;
	padding:0;
	
}
nav li {
	display:inline;
	padding: 15px;	
}

nav a {
	color:rgb(37, 61, 66);
	text-decoration: none;
	font-family:"Comfortaa", sans-serif;
	font-weight: 700;
}
nav a:hover {
	color:rgba(199, 4, 45,1.00);
	text-decoration: none;
}
nav a.active {
	
}

#heroimage {
	background-image: url("../images/Aarhus downtown city.jpg");
	width:100%;
	height:650px;
	background-color: lightcoral;
	float:left;
	position: relative;
	background-position: 50% 20%;
	background-size: cover;
	background-repeat: no-repeat;
}

#overlay {
	width:100%;
	height:650px;
	float:left;
	position:relative;
	background-color:rgba(37,61,66,0.40);
	margin-top:-650px;
}
#heroimage_text{
	width:100%;
	height:auto;	
}
#heroimage_text h1{
	font-family: "Corbel", sans-serif;
	font-weight: 1000;
	color:  #fff;
	text-align:center;
	font-size:150px;
    margin-top: 50px;
    letter-spacing: 5px
}
#fade{
	width:100%;
	height:250px;
	float:left;
	position:relative;
	background-image: linear-gradient( rgba(204,219,219,0), rgba(204,219,219,1));
	margin-top:-250px;
}
#colorspace {
	width:100%;
	height:60px;
	background-color: rgb(204, 219, 219);
	float:left;
    margin: auto;
    margin-top: 0px;
}
#weather {
	width:100%;
	height:140px;
	background-color: rgb(204, 219, 219);
	float:left;
    margin: auto;
    margin-top: 0px;
}

#inner_weather{
	width:1200px;
	height:140px;
	background-color: transparent;
	margin: 0px auto; 
}
#Sunday, #Monday, #Tuesday, #Wednesday, #Thursday, #Friday, #Saturday {
	width:115px;
	height: 120px;
	background-color:transparent;
    float: left;
    padding: 0px 0px;
}


#inner_weather ul {
	width: 1200px;
	height:auto;
	list-style-type:none;
	margin: 0px 0px;
    
}

#inner_weather li {
	width:150px;
	height: auto;
	float:left;
    padding: 0px 8px;
}
#inner_weather h3 {
    width: 1200px;
	font-family:'comfortaa','sans-serif';
	font-weight: 2000;
	color: rgb(37, 61, 66);
	text-align:center;
	font-size:17px;
    margin-top: 2px;
    margin-left: -540px;
}
#Monday h3{
    color: rgb(199, 32, 47);
}

#about_aarhus {
	width:100%;
	height:500px;
	background-color:  rgb(204, 219, 219);
	float:left;
}
#inner_aarhus{
	width:1200px;
	height:500px;
	background-color:transparent;
	margin: 50px auto; 
}
#aarhus{
    width:550px;
	height: 400px;
    background-image: url("../images/Aarhusdowntownoverlay.png");
    background-repeat: no-repeat;
    background-position: 30% 35%;
	background-color: rgb(199, 32, 47,.80);
    float: left;
    margin:0px -40px;
}
#aarhus_text{
    width:550px;
	height: 400px;
    float: left;
    margin: 0px 460px;
}
#aarhus_text h1{
    color: rgb(37, 61, 66);
    width: 550px;
	font-family: "Corbel", sans-serif;
	font-weight: 2000;
	text-align:left;
	font-size:50px;
    margin-top: 20px;
}
#aarhus_text p{
    color: rgb(37, 61, 66);
    width: 550px;
	font-family: "Corbel", sans-serif;
	font-weight: 500;
	text-align:left;
	font-size:21px;
}
#inner_aarhus ul {
	width: 1200px;
	height:auto;
	list-style-type:none;
	margin: 0px 0px;  
}

#inner_aarhus li {
	width:150px;
	height: auto;
	float:left;
    padding: 0px 0px; 
}
#icon_nav {
	width:100%;
	height:210px;
	background-color: rgba(255,255,255,1.00);
	float:left;
    margin: 0px 0px;
}
#inner_nav{
	width:1200px;
	height:160px;
	background-color: white;
	margin: 25px auto; 
}

#inner_nav ul {
	width: 1200px;
	height:auto;
	list-style-type:none;
	margin: 0px 0px;
    display: inline-block;
}

#inner_nav li {
	width:150px;
	height: auto;
	float:left;
    padding: 0px 45px;
    margin-left: auto;
    margin-right: auto;
    
}
#dining, #shopping, #accomedations, #attraction, #travelplan {
	width:160px;
	height: 130px;
	background-color:transparent;
    float: left;
    padding: 0px 0px;
    margin: 20px -90px 0px -90px; 
    
} #dining {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Dining out.svg");
    float: left;
    padding: 0px 0px;
    margin: 0px -90px;
    -moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
  
}
#dining:hover {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Dining over.svg");
    float: left;
    padding: 0px 0px;
    margin: 0px -90px;
}
#shopping {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/shop out.svg");
    float: left;
    padding: 0px 0px;
    margin: 0px -70px;
    -moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
  
}
#shopping:hover {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Shop over.svg");
    float: left;
    padding: 0px 0px;
     
}
#accomedations {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Accom out.svg");
    float: left;
    padding: 0px 0px;
    margin: 0px -50px;
    -moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
    
}
#accomedations:hover {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Accom over.svg");
    float: left;
    padding: 0px 0px;
  
}
#attraction {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Camera out.svg");
    float: left;
    padding: 0px 0px;
    margin: 0px -10px;
    -moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;

}
#attraction:hover {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Camera over.svg");
    float: left;
    padding: 0px 0px;
   
}
#travelplan {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Planner out.svg");
    float: left;
    padding: 0px 0px;
    margin: 0px 10px;
    -moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
   
}
#travelplan:hover {
	width:160px;
	height: 130px;
    background-image: url("../images/assets/icons/Planner over.svg");
    float: left;
    padding: 0px 0px;
   
}
#inner_nav h3 {
    width: 1200px;
	font-family:'comfortaa','sans-serif';
	font-weight: 2000;
	color: rgb(37, 61, 66);
	text-align:center;
	font-size:17px;
    margin-top: 138px;
    margin-left: -520px;
    text-decoration: none;
}
#innernav a {
	color:rgb(37, 61, 66);
	text-decoration: none;
	font-family:"Comfortaa", sans-serif;
	font-weight: 700;
}
#innernav a:hover {
	text-decoration: none;
}
	/* slideshow start */

#mustsee {
	width:100%;
	height:500px;
	background-color: #fff;
	float:left;
	display: flex;
  flex-wrap: wrap;
    margin: 0px 0px 00px 0px
}


.mySlides {display: none;}

/* Slideshow container */

.slideshow-container {
  width: 2000px;
    height: 500px;
  position: relative;
  margin: auto;
    background-color: antiquewhite;
}


/* Caption text */
.text1 {
  color:  rgb(37, 61, 66) ;
  font-size: 55px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align:center;
    margin-left: 00px;
    margin-bottom: 250px;
    word-spacing: 5px;
    font-family: "Corbel", sans-serif;
}

.text2 {
  color:  #fff ;
  font-size: 55px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
 width: 100%;
  text-align:center;
    word-spacing:  5px;
    margin-bottom: 250px;
    font-family: "Corbel", sans-serif;
}
/* Button start */
.button {
  background-color: rgb(37, 61, 66); /* Green */
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    font-family: "comfortaa", sans-serif; 
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button1 {
  background-color: rgb(37, 61, 66); /* Green */
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
    font-family: "comfortaa", sans-serif; 
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.buttona {
  background-color: #253D42; 
  color:#fff; 
  ;
}

.buttona:hover {
  background-color: #fff;
  color: #253D42;
}





/* Button End */

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


/* Footer start */
footer {
	width:100%;
	height:180px;
	background-color: rgb(37, 61, 66);
	float:left;
}
#inner_footer {
	width:1200px;
	height: 180px;
	background-color:rgb(37, 61, 66);
	margin:0px auto;
}
#left_footer {
	width:300px;
	height: 180px;
	background-color:rgb(37, 61, 66);
	float:left;
}
#footer_logo {
	width:150px;
	height: 70px;
	background-color:transparent;
	margin:35px auto;
}

#footer_logo img {
	width: 240px;
	height: 120px;
	position:absolute;
	margin-top:0;
	margin-left:-50px;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}	
#footer_logo img.top:hover {
	opacity:0;
}	

#middle_footer {
	width:600px;
	height: 180px;
	background-color:rgb(37, 61, 66);
	float:left;
	
}
#middle_footer a:link {
  text-decoration: none ;
    color:   #fff;
}

#middle_footer a:link:hover {
  text-decoration: none ;
    color:   rgb(199, 32, 47) ;
}

#footer_links1, #footer_links2, #footer_links3 {
	width:120px;
	height: 130px;
    margin: -20px auto;
}
#footer_links1 h3, #footer_links2 h3, #footer_links3 h3{
	font-family:"Comfortaa", sans-serif;
	font-weight: 700;
	font-size: 18px;
	color: rgb(102, 197, 177);
}
#footer_links1 p, #footer_links2 p, #footer_links3 p{
	font-family: "Corbel", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: rgb(255, 255, 255);
	line-height: 12px;
}
#footer_links1 a, #footer_links2 a, #footer_links3 a{
	color:  rgb(255, 255, 255);
	text-decoration:none;
	transition: 0.4s ease;
}

#footer_links1 a:hover p{
	color: rgb(199, 32, 47);
	text-decoration:none;
	
}
#footer_links2 a:hover p{
	color:  rgb(199, 32, 47);
	text-decoration:none;
	
}
#footer_links3 a:hover p{
	color: rgb(199, 32, 47);
	text-decoration:none;
	
}


#middle_footer ul {
	width: 450px;
	height:auto;
	list-style-type:none;
	margin: 35px auto;
}

#middle_footer li {
	width:150px;
	height: auto;
	float:left;

}


#right_footer {
	width:300px;
	height: 180px;
	background-color:rgb(37, 61, 66);
	float:left;
}

#right_footer ul {
	list-style-type: none;
	margin: 50px auto;
	width: 200px;
	height:auto;
}
#right_footer li {
display:inline;
	width:50px;
	height:auto;
	float:left;
}
#facebook, #twitter, #youtube, #instagram {
	width:30px;
	height:30px;
	background-color:transparent;
}
#twitter img {
	width: 30px;
	height: 30px;
	position:absolute;
	margin-top:0;
	margin-left:0;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}	
#instagram img {
	width: 30px;
	height: 30px;
	position:absolute;
	margin-top:0;
	margin-left:0;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
#facebook img {
	width: 30px;
	height: 30px;
	position:absolute;
	margin-top:0;
	margin-left:0;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}	
#youtube img {
	width: 30px;
	height: 30px;
	position:absolute;
	margin-top:0;
	margin-left:0;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
}	
#youtube img.top:hover {
	opacity:0;
}
#instagram img.top:hover {
	opacity:0;
}
#facebook img.top:hover {
	opacity:0;
}
#twitter img.top:hover {
	opacity:0;
}

#newsletter {
	width:200px;
	height: 30px;
	background-color: rgb(255, 255, 255);
	float:left;
    margin-top: 30px;
    margin-left: 60px;
}
#join {
	width:50px;
	height: 30px;
	background-color:rgb(199, 32, 47);
	float:left;
    margin-top: 0px;
    margin-left: 150px;
}
#join p{
    color: white;
    text-align: center;
    margin-top:7px;
    font-family:"Comfortaa", sans-serif;
	font-weight: 700;
}